header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--color-primary-4);
}

#nav_logo img {
    height: 5rem; /* Limita o tamanho da imagem */
    margin-right: 8px; /* Espaço entre a imagem e o texto */
}

.logo-text {
    font-size: 18px; /* Tamanho da fonte do texto "Maria Rosa" */
    line-height: 1.2; /* Controle da altura da linha para a quebra correta */
    font-weight: bold; /* Negrito no texto */
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-3);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

#banner img {
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    max-width: 500px; /* Define uma largura máxima para a imagem */
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}
